{% extends 'constat_d_etat/forms/template_peinture.html' %}

{% block title %}
    Formulaire peinture sur toile
{% endblock %}

{% block static_menu %}
    <nav id="menu">
        <ul>
            <li><a href="#photos">Photos</a></li>
            <li><a href="#informations">Informations</a></li>
            <li><a href="#cadre">Cadre</a></li>
            <li><a href="#couche_picturale">Couche picturale</a></li> 
            <li><a href="#support">Support</a></li>
            <li><a href="#chassis">Châssis</a></li>
            <li><a href="#emballage">Emballage</a></li>
        </ul>
    </nav>
{% endblock %}


{% block artwork_type %}
    peinture sur toile
{% endblock %}

{% block alteration_pic %}
    
{% endblock %}

{% block alteration_pic_adhesion %}
    
{% endblock %}

{% block option2 %}

<div id="support">

    <h4>Support</h4>

    {{ form.peinture_sur_toile_support_caracteristiques_revers_inaccessible }} <label for="{{ form.peinture_sur_toile_support_caracteristiques_revers_inaccessible.id_for_label }}">{{ form.peinture_sur_toile_support_caracteristiques_revers_inaccessible.label }}</label>

    <div class="to-border-tr">
        <table>            
            <tr>
                <td>{{ form.peinture_sur_toile_support_caracteristiques_bon_etat }} <label for="{{ form.peinture_sur_toile_support_caracteristiques_bon_etat.id_for_label }}">{{ form.peinture_sur_toile_support_caracteristiques_bon_etat.label }}</label></td>
                <td>{{ form.peinture_sur_toile_support_caracteristiques_mauvais_etat }} <label for="{{ form.peinture_sur_toile_support_caracteristiques_mauvais_etat.id_for_label }}">{{ form.peinture_sur_toile_support_caracteristiques_mauvais_etat.label }}</label></td>
                <td>{{ form.peinture_sur_toile_support_caracteristiques_restaure }} <label for="{{ form.peinture_sur_toile_support_caracteristiques_restaure.id_for_label }}">{{ form.peinture_sur_toile_support_caracteristiques_restaure.label }}</label></td>
            </tr>
            <tr>
                <td>{{ form.peinture_sur_toile_support_caracteristiques_fendu }} <label for="{{ form.peinture_sur_toile_support_caracteristiques_fendu.id_for_label }}">{{ form.peinture_sur_toile_support_caracteristiques_fendu.label }}</label></td>
                <td>{{ form.peinture_sur_toile_support_caracteristiques_ouvert }} <label for="{{ form.peinture_sur_toile_support_caracteristiques_ouvert.id_for_label }}">{{ form.peinture_sur_toile_support_caracteristiques_ouvert.label }}</label></td>
                <td>{{ form.peinture_sur_toile_support_caracteristiques_vermoulu }} <label for="{{ form.peinture_sur_toile_support_caracteristiques_vermoulu.id_for_label }}">{{ form.peinture_sur_toile_support_caracteristiques_vermoulu.label }}</label></td>
            </tr>
            <tr>
                <td>{{ form.peinture_sur_toile_support_caracteristiques_inscriptions }} <label for="{{ form.peinture_sur_toile_support_caracteristiques_inscriptions.id_for_label }}">{{ form.peinture_sur_toile_support_caracteristiques_inscriptions.label }}</label></td>
                <td>{{ form.peinture_sur_toile_support_caracteristiques_etiquettes }} <label for="{{ form.peinture_sur_toile_support_caracteristiques_etiquettes.id_for_label }}">{{ form.peinture_sur_toile_support_caracteristiques_etiquettes.label }}</label></td>
                <td>{{ form.peinture_sur_toile_support_caracteristiques_marques_cachets }} <label for="{{ form.peinture_sur_toile_support_caracteristiques_marques_cachets.id_for_label }}">{{ form.peinture_sur_toile_support_caracteristiques_marques_cachets.label }}</label></td>
            </tr>
            <tr>
                <td>{{ form.peinture_sur_toile_support_caracteristiques_caisson_climatique }} <label for="{{ form.peinture_sur_toile_support_caracteristiques_caisson_climatique.id_for_label }}">{{ form.peinture_sur_toile_support_caracteristiques_caisson_climatique.label }}</label></td>
                <td>{{ form.peinture_sur_toile_support_caracteristiques_protection_arriere }} <label for="{{ form.peinture_sur_toile_support_caracteristiques_protection_arriere.id_for_label }}">{{ form.peinture_sur_toile_support_caracteristiques_protection_arriere.label }}</label></td>
                <td><label for="{{ form.peinture_sur_toile_support_caracteristiques_nature_protection_arriere.id_for_label }}">{{ form.peinture_sur_toile_support_caracteristiques_nature_protection_arriere.label }}</label> {{ form.peinture_sur_toile_support_caracteristiques_nature_protection_arriere }}</td>
            </tr>
            <tr>
                <td colspan="2">{{ form.peinture_sur_toile_support_caracteristiques_trous_de_pitons_dans_les_planches }} <label for="{{ form.peinture_sur_toile_support_caracteristiques_trous_de_pitons_dans_les_planches.id_for_label }}">{{ form.peinture_sur_toile_support_caracteristiques_trous_de_pitons_dans_les_planches.label }}</label></td>
                <td><label for="{{ form.peinture_sur_toile_support_caracteristiques_nombre_trous_de_pitons_dans_les_planches.id_for_label }}">{{ form.peinture_sur_toile_support_caracteristiques_nombre_trous_de_pitons_dans_les_planches.label }}</label> {{ form.peinture_sur_toile_support_caracteristiques_nombre_trous_de_pitons_dans_les_planches }}</td>
            </tr>
            <tr>
                <td colspan="2">{{ form.peinture_sur_toile_support_caracteristiques_trous_de_pitons_dans_les_traverses }} <label for="{{ form.peinture_sur_toile_support_caracteristiques_trous_de_pitons_dans_les_traverses.id_for_label }}">{{ form.peinture_sur_toile_support_caracteristiques_trous_de_pitons_dans_les_traverses.label }}</label></td>
                <td><label for="{{ form.peinture_sur_toile_support_caracteristiques_nombre_trous_de_pitons_dans_les_traverses.id_for_label }}">{{ form.peinture_sur_toile_support_caracteristiques_nombre_trous_de_pitons_dans_les_traverses.label }}</label> {{ form.peinture_sur_toile_support_caracteristiques_nombre_trous_de_pitons_dans_les_traverses }}</td>
            </tr>
            <tr>
                <td>{{ form.peinture_sur_toile_support_caracteristiques_chassis_cadre }} <label for="{{ form.peinture_sur_toile_support_caracteristiques_chassis_cadre.id_for_label }}">{{ form.peinture_sur_toile_support_caracteristiques_chassis_cadre.label }}</label></td>
                <td>{{ form.peinture_sur_toile_support_caracteristiques_poignees_fixees_au_revers }} <label for="{{ form.peinture_sur_toile_support_caracteristiques_poignees_fixees_au_revers.id_for_label }}">{{ form.peinture_sur_toile_support_caracteristiques_poignees_fixees_au_revers.label }}</label></td>
                <td>
                    <label for="{{ form.peinture_sur_toile_support_caracteristiques_nature_poignees_fixees_au_revers.id_for_label }}">{{ form.peinture_sur_toile_support_caracteristiques_nature_poignees_fixees_au_revers.label }}</label> {{ form.peinture_sur_toile_support_caracteristiques_nature_poignees_fixees_au_revers }}<br>
                    <label for="{{ form.peinture_sur_toile_support_caracteristiques_nombre_poignees_fixees_au_revers.id_for_label }}">{{ form.peinture_sur_toile_support_caracteristiques_nombre_poignees_fixees_au_revers.label }}</label> {{ form.peinture_sur_toile_support_caracteristiques_nombre_poignees_fixees_au_revers }}
                </td>
            </tr>

        </table>

        <table>

            <caption>Essence</caption>

            <tr>
                <td>{{ form.peinture_sur_toile_support_essence_chene }} <label for="{{ form.peinture_sur_toile_support_essence_chene.id_for_label }}">{{ form.peinture_sur_toile_support_essence_chene.label }}</label></td>
                <td>{{ form.peinture_sur_toile_support_essence_resineux }} <label for="{{ form.peinture_sur_toile_support_essence_resineux.id_for_label }}">{{ form.peinture_sur_toile_support_essence_resineux.label }}</label></td>
                <td>{{ form.peinture_sur_toile_support_essence_peuplier }} <label for="{{ form.peinture_sur_toile_support_essence_peuplier.id_for_label }}">{{ form.peinture_sur_toile_support_essence_peuplier.label }}</label></td>
                <td>{{ form.peinture_sur_toile_support_essence_acajou }} <label for="{{ form.peinture_sur_toile_support_essence_acajou.id_for_label }}">{{ form.peinture_sur_toile_support_essence_acajou.label }}</label></td>
                <td>{{ form.peinture_sur_toile_support_essence_autre }} <label for="{{ form.peinture_sur_toile_support_essence_autre.id_for_label }}">{{ form.peinture_sur_toile_support_essence_autre.label }}</label> {{ form.peinture_sur_toile_support_essence_autre_essence }}</td>
            </tr>        

        </table>

        <table>

            <caption>Fil du bois</caption>{{ form. }} {{ form..label }} {{ form..id_for_label }}

            <tr>
                <td>{{ form.peinture_sur_toile_support_fil_du_bois_horizontal }} <label for="{{ form.peinture_sur_toile_support_fil_du_bois_horizontal.id_for_label }}">{{ form.peinture_sur_toile_support_fil_du_bois_horizontal.label }}</label></td>
                <td>{{ form.peinture_sur_toile_support_fil_du_bois_vertical }} <label for="{{ form.peinture_sur_toile_support_fil_du_bois_vertical.id_for_label }}">{{ form.peinture_sur_toile_support_fil_du_bois_vertical.label }}</label></td>
                <td>{{ form.peinture_sur_toile_support_fil_du_bois_regulier }} <label for="{{ form.peinture_sur_toile_support_fil_du_bois_regulier.id_for_label }}">{{ form.peinture_sur_toile_support_fil_du_bois_regulier.label }}</label></td>
                <td>{{ form.peinture_sur_toile_support_fil_du_bois_irregulier }} <label for="{{ form.peinture_sur_toile_support_fil_du_bois_irregulier.id_for_label }}">{{ form.peinture_sur_toile_support_fil_du_bois_irregulier.label }}</label></td>
            </tr>

        </table>

        <table>

            <caption>Assemblage</caption>

            <tr>
                <td>{{ form.peinture_sur_toile_support_assemblage_plats_joints }} <label for="{{ form.peinture_sur_toile_support_assemblage_plats_joints.id_for_label }}">{{ form.peinture_sur_toile_support_assemblage_plats_joints.label }}</label></td>
                <td>{{ form.peinture_sur_toile_support_assemblage_rainures_languettes }} <label for="{{ form.peinture_sur_toile_support_assemblage_rainures_languettes.id_for_label }}">{{ form.peinture_sur_toile_support_assemblage_rainures_languettes.label }}</label></td>
                <td>{{ form.peinture_sur_toile_support_assemblage_tenons_mortaises }} <label for="{{ form.peinture_sur_toile_support_assemblage_tenons_mortaises.id_for_label }}">{{ form.peinture_sur_toile_support_assemblage_tenons_mortaises.label }}</label></td>
                <td>{{ form.peinture_sur_toile_support_assemblage_queues_arrondes }} <label for="{{ form.peinture_sur_toile_support_assemblage_queues_arrondes.id_for_label }}">{{ form.peinture_sur_toile_support_assemblage_queues_arrondes.label }}</label></td>
            </tr>

            <tr>
                <td>{{ form.peinture_sur_toile_support_assemblage_correct }} <label for="{{ form.peinture_sur_toile_support_assemblage_correct.id_for_label }}">{{ form.peinture_sur_toile_support_assemblage_correct.label }}</label></td>
                <td>{{ form.peinture_sur_toile_support_assemblage_faible }} <label for="{{ form.peinture_sur_toile_support_assemblage_faible.id_for_label }}">{{ form.peinture_sur_toile_support_assemblage_faible.label }}</label></td>
                <td>{{ form.peinture_sur_toile_support_assemblage_disjoint }} <label for="{{ form.peinture_sur_toile_support_assemblage_disjoint.id_for_label }}">{{ form.peinture_sur_toile_support_assemblage_disjoint.label }}</label></td>
            </tr>                    
            <tr>
                <td>{{ form.peinture_sur_toile_support_assemblage_parquettage_mobile }} <label for="{{ form.peinture_sur_toile_support_assemblage_parquettage_mobile.id_for_label }}">{{ form.peinture_sur_toile_support_assemblage_parquettage_mobile.label }}</label></td>
                <td>{{ form.peinture_sur_toile_support_assemblage_parquettage_bloque }} <label for="{{ form.peinture_sur_toile_support_assemblage_parquettage_bloque.id_for_label }}">{{ form.peinture_sur_toile_support_assemblage_parquettage_bloque.label }}</label></td>
                <td>{{ form.peinture_sur_toile_support_assemblage_panneau_contraint }} <label for="{{ form.peinture_sur_toile_support_assemblage_panneau_contraint.id_for_label }}">{{ form.peinture_sur_toile_support_assemblage_panneau_contraint.label }}</label></td>
            </tr>     
            <tr>
                <td>{{ form.peinture_sur_toile_support_assemblage_traverses_originales }} <label for="{{ form.peinture_sur_toile_support_assemblage_traverses_originales.id_for_label }}">{{ form.peinture_sur_toile_support_assemblage_traverses_originales.label }}</label></td>
                <td><label for="{{ form.peinture_sur_toile_support_assemblage_nombre_de_traverses.id_for_label }}">{{ form.peinture_sur_toile_support_assemblage_nombre_de_traverses.label }}</label> {{ form.peinture_sur_toile_support_assemblage_nombre_de_traverses }}</td>
                <td><label for="{{ form.peinture_sur_toile_support_assemblage_nombre_planches.id_for_label }}">{{ form.peinture_sur_toile_support_assemblage_nombre_planches.label }}</label> {{ form.peinture_sur_toile_support_assemblage_nombre_planches }}</td>
            </tr>                 

        </table>

        <table>

            <caption>Revers</caption>

            <tr>
                <td>{{ form.peinture_sur_toile_support_revers_lisse }} <label for="{{ form.peinture_sur_toile_support_revers_lisse.id_for_label }}">{{ form.peinture_sur_toile_support_revers_lisse.label }}</label></td>
                <td>{{ form.peinture_sur_toile_support_revers_brut }} <label for="{{ form.peinture_sur_toile_support_revers_brut.id_for_label }}">{{ form.peinture_sur_toile_support_revers_brut.label }}</label></td>
                <td>{{ form.peinture_sur_toile_support_revers_enduit }} <label for="{{ form.peinture_sur_toile_support_revers_enduit.id_for_label }}">{{ form.peinture_sur_toile_support_revers_enduit.label }}</label></td>
            </tr>                              

        </table>

        <table>

            <caption>Tranche</caption>

            <tr>
                <td>{{ form.peinture_sur_toile_support_tranche_invisible }} <label for="{{ form.peinture_sur_toile_support_tranche_invisible.id_for_label }}">{{ form.peinture_sur_toile_support_tranche_invisible.label }}</label></td>
                <td>{{ form.peinture_sur_toile_support_tranche_visible }} <label for="{{ form.peinture_sur_toile_support_tranche_visible.id_for_label }}">{{ form.peinture_sur_toile_support_tranche_visible.label }}</label></td>
                <td><label for="{{ form.peinture_sur_toile_support_tranche_etat.id_for_label }}">{{ form.peinture_sur_toile_support_tranche_etat.label }}</label> </td>
            </tr>                              

        </table>

        <table>

            <caption>Altérations</caption>

            <tr>
                <td>{{ form.peinture_sur_toile_support_alterations_percements }} <label for="{{ form.peinture_sur_toile_support_alterations_percements.id_for_label }}">{{ form.peinture_sur_toile_support_alterations_percements.label }}</label></td>
                <td>{{ form.peinture_sur_toile_support_alterations_eraflures }} <label for="{{ form.peinture_sur_toile_support_alterations_eraflures.id_for_label }}">{{ form.peinture_sur_toile_support_alterations_eraflures.label }}</label></td>
                <td>{{ form.peinture_sur_toile_support_alterations_cloques }} <label for="{{ form.peinture_sur_toile_support_alterations_cloques.id_for_label }}">{{ form.peinture_sur_toile_support_alterations_cloques.label }}</label></td>
                <td>{{ form.peinture_sur_toile_support_alterations_coulures }} <label for="{{ form.peinture_sur_toile_support_alterations_coulures.id_for_label }}">{{ form.peinture_sur_toile_support_alterations_coulures.label }}</label></td>
            </tr>

            <tr>
                <td>{{ form.peinture_sur_toile_support_alterations_moisissures }} <label for="{{ form.peinture_sur_toile_support_alterations_moisissures.id_for_label }}">{{ form.peinture_sur_toile_support_alterations_moisissures.label }}</label></td>
                <td>{{ form.peinture_sur_toile_support_alterations_poussiere }} <label for="{{ form.peinture_sur_toile_support_alterations_poussiere.id_for_label }}">{{ form.peinture_sur_toile_support_alterations_poussiere.label }}</label></td>
                <td>{{ form.peinture_sur_toile_support_alterations_encrassement }} <label for="{{ form.peinture_sur_toile_support_alterations_encrassement.id_for_label }}">{{ form.peinture_sur_toile_support_alterations_encrassement.label }}</label></td>
                <td>{{ form.peinture_sur_toile_support_alterations_aureoles }} <label for="{{ form.peinture_sur_toile_support_alterations_aureoles.id_for_label }}">{{ form.peinture_sur_toile_support_alterations_aureoles.label }}</label></td>
            </tr>                    
            <tr>
                <td>{{ form.peinture_sur_toile_support_alterations_effritement }} <label for="{{ form.peinture_sur_toile_support_alterations_effritement.id_for_label }}">{{ form.peinture_sur_toile_support_alterations_effritement.label }}</label></td>
                <td>{{ form.peinture_sur_toile_support_alterations_fendillement }} <label for="{{ form.peinture_sur_toile_support_alterations_fendillement.id_for_label }}">{{ form.peinture_sur_toile_support_alterations_fendillement.label }}</label></td>
                <td>{{ form.peinture_sur_toile_support_alterations_trous_envol }} <label for="{{ form.peinture_sur_toile_support_alterations_trous_envol.id_for_label }}">{{ form.peinture_sur_toile_support_alterations_trous_envol.label }}</label></td>
                <td>{{ form.peinture_sur_toile_support_alterations_galeries_insectes }} <label for="{{ form.peinture_sur_toile_support_alterations_galeries_insectes.id_for_label }}">{{ form.peinture_sur_toile_support_alterations_galeries_insectes.label }}</label></td>
            </tr>                       

        </table>

        <table>

            <caption>Déformations</caption>

            <tr>
                <td>{{ form.peinture_sur_toile_support_deformations_localisees }} <label for="{{ form.peinture_sur_toile_support_deformations_localisees.id_for_label }}">{{ form.peinture_sur_toile_support_deformations_localisees.label }}</label></td>
                <td>{{ form.peinture_sur_toile_support_deformations_generalisees }} <label for="{{ form.peinture_sur_toile_support_deformations_generalisees.id_for_label }}">{{ form.peinture_sur_toile_support_deformations_generalisees.label }}</label></td>
                <td>{{ form.peinture_sur_toile_support_deformations_panneau_voile }} <label for="{{ form.peinture_sur_toile_support_deformations_panneau_voile.id_for_label }}">{{ form.peinture_sur_toile_support_deformations_panneau_voile.label }}</label></td>
            </tr>

            <tr>
                <td>{{ form.peinture_sur_toile_support_deformations_enfoncement_par_la_face }} <label for="{{ form.peinture_sur_toile_support_deformations_enfoncement_par_la_face.id_for_label }}">{{ form.peinture_sur_toile_support_deformations_enfoncement_par_la_face.label }}</label></td>
                <td>{{ form.peinture_sur_toile_support_deformations_enfoncement_au_revers }} <label for="{{ form.peinture_sur_toile_support_deformations_enfoncement_au_revers.id_for_label }}">{{ form.peinture_sur_toile_support_deformations_enfoncement_au_revers.label }}</label></td>
                <td>{{ form.peinture_sur_toile_support_deformations_panneau_aminci }} <label for="{{ form.peinture_sur_toile_support_deformations_panneau_aminci.id_for_label }}">{{ form.peinture_sur_toile_support_deformations_panneau_aminci.label }}</label></td>
            </tr>                    
            
        </table>
    </div>
</div>

{% endblock %}

{% block option3 %}

<div id="chassis">

    <h4>Châssis</h4>

    {{ form.peinture_sur_toile_chassis_caracteristiques_revers_inaccessible }} <label for="{{ form.peinture_sur_toile_chassis_caracteristiques_revers_inaccessible.id_for_label }}">{{ form.peinture_sur_toile_chassis_caracteristiques_revers_inaccessible.label }}</label>

    <div class="to-border-tr">
        <table>
            <tr>
                <td>{{ form.peinture_sur_toile_chassis_caracteristiques_neuf }} <label for="{{ form.peinture_sur_toile_chassis_caracteristiques_neuf.id_for_label }}">{{ form.peinture_sur_toile_chassis_caracteristiques_neuf.label }}</label></td>
                <td>{{ form.peinture_sur_toile_chassis_caracteristiques_bon_etat }} <label for="{{ form.peinture_sur_toile_chassis_caracteristiques_bon_etat.id_for_label }}">{{ form.peinture_sur_toile_chassis_caracteristiques_bon_etat.label }}</label></td>
                <td>{{ form.peinture_sur_toile_chassis_caracteristiques_mauvais_etat }} <label for="{{ form.peinture_sur_toile_chassis_caracteristiques_mauvais_etat.id_for_label }}">{{ form.peinture_sur_toile_chassis_caracteristiques_mauvais_etat.label }}</label></td>
            </tr>
            <tr>
                <td>{{ form.peinture_sur_toile_chassis_caracteristiques_d_origine }} <label for="{{ form.peinture_sur_toile_chassis_caracteristiques_d_origine.id_for_label }}">{{ form.peinture_sur_toile_chassis_caracteristiques_d_origine.label }}</label></td>
                <td>{{ form.peinture_sur_toile_chassis_caracteristiques_chanfreine }} <label for="{{ form.peinture_sur_toile_chassis_caracteristiques_chanfreine.id_for_label }}">{{ form.peinture_sur_toile_chassis_caracteristiques_chanfreine.label }}</label></td>
                <td>{{ form.peinture_sur_toile_chassis_caracteristiques_renforts_d_angles }} <label for="{{ form.peinture_sur_toile_chassis_caracteristiques_renforts_d_angles.id_for_label }}">{{ form.peinture_sur_toile_chassis_caracteristiques_renforts_d_angles.label }}</label></td>
            </tr>
            <tr>
                <td>{{ form.peinture_sur_toile_chassis_caracteristiques_fendu }} <label for="{{ form.peinture_sur_toile_chassis_caracteristiques_fendu.id_for_label }}">{{ form.peinture_sur_toile_chassis_caracteristiques_fendu.label }}</label></td>
                <td>{{ form.peinture_sur_toile_chassis_caracteristiques_ouvert }} <label for="{{ form.peinture_sur_toile_chassis_caracteristiques_ouvert.id_for_label }}">{{ form.peinture_sur_toile_chassis_caracteristiques_ouvert.label }}</label></td>
                <td>{{ form.peinture_sur_toile_chassis_caracteristiques_vermoulu }} <label for="{{ form.peinture_sur_toile_chassis_caracteristiques_vermoulu.id_for_label }}">{{ form.peinture_sur_toile_chassis_caracteristiques_vermoulu.label }}</label></td>
            </tr>
            <tr>
                <td>
                    {{ form.peinture_sur_toile_chassis_caracteristiques_traverses_horizontales }} <label for="{{ form.peinture_sur_toile_chassis_caracteristiques_traverses_horizontales.id_for_label }}">{{ form.peinture_sur_toile_chassis_caracteristiques_traverses_horizontales.label }}</label><br>
                    <label for="{{ form.peinture_sur_toile_chassis_caracteristiques_nombre_traverses_horizontales.id_for_label }}">{{ form.peinture_sur_toile_chassis_caracteristiques_nombre_traverses_horizontales.label }}</label> {{ form.peinture_sur_toile_chassis_caracteristiques_nombre_traverses_horizontales }}
                </td>
                <td>
                    {{ form.peinture_sur_toile_chassis_caracteristiques_traverses_verticales }} <label for="{{ form.peinture_sur_toile_chassis_caracteristiques_traverses_verticales.id_for_label }}">{{ form.peinture_sur_toile_chassis_caracteristiques_traverses_verticales.label }}</label><br>
                    <label for="{{ form.peinture_sur_toile_chassis_caracteristiques_nombre_traverses_verticales.id_for_label }}">{{ form.peinture_sur_toile_chassis_caracteristiques_nombre_traverses_verticales.label }}</label> {{ form.peinture_sur_toile_chassis_caracteristiques_nombre_traverses_verticales }}
                </td>
            </tr>
            <tr>
                <td>{{ form.peinture_sur_toile_chassis_caracteristiques_trous_de_pitons }} <label for="{{ form.peinture_sur_toile_chassis_caracteristiques_trous_de_pitons.id_for_label }}">{{ form.peinture_sur_toile_chassis_caracteristiques_trous_de_pitons.label }}</label></td>
                <td>{{ form.peinture_sur_toile_chassis_caracteristiques_etiquettes }} <label for="{{ form.peinture_sur_toile_chassis_caracteristiques_etiquettes.id_for_label }}">{{ form.peinture_sur_toile_chassis_caracteristiques_etiquettes.label }}</label></td>
                <td>{{ form.peinture_sur_toile_chassis_caracteristiques_marques }} <label for="{{ form.peinture_sur_toile_chassis_caracteristiques_marques.id_for_label }}">{{ form.peinture_sur_toile_chassis_caracteristiques_marques.label }}</label></td>
            </tr>
            <tr>
                <td>{{ form.peinture_sur_toile_chassis_caracteristiques_caisson_climatique }} <label for="{{ form.peinture_sur_toile_chassis_caracteristiques_caisson_climatique.id_for_label }}">{{ form.peinture_sur_toile_chassis_caracteristiques_caisson_climatique.label }}</label></td>
                <td colspan="2">
                    {{ form.peinture_sur_toile_chassis_caracteristiques_protection_arriere }} <label for="{{ form.peinture_sur_toile_chassis_caracteristiques_protection_arriere.id_for_label }}">{{ form.peinture_sur_toile_chassis_caracteristiques_protection_arriere.label }}</label><br>
                    <label for="{{ form.peinture_sur_toile_chassis_caracteristiques_nature_protection_arriere.id_for_label }}">{{ form.peinture_sur_toile_chassis_caracteristiques_nature_protection_arriere.label }}</label> {{ form.peinture_sur_toile_chassis_caracteristiques_nature_protection_arriere }}
                </td>
            </tr>
            <tr>
                <td colspan="2">
                    {{ form.peinture_sur_toile_chassis_caracteristiques_poignees_sur_montants }} <label for="{{ form.peinture_sur_toile_chassis_caracteristiques_poignees_sur_montants.id_for_label }}">{{ form.peinture_sur_toile_chassis_caracteristiques_poignees_sur_montants.label }}</label><br>
                    <label for="{{ form.peinture_sur_toile_chassis_caracteristiques_nature_poignees_sur_montants.id_for_label }}">{{ form.peinture_sur_toile_chassis_caracteristiques_nature_poignees_sur_montants.label }}</label> {{ form.peinture_sur_toile_chassis_caracteristiques_nature_poignees_sur_montants }}
                    <label for="{{ form.peinture_sur_toile_chassis_caracteristiques_nombre_poignees_sur_montants.id_for_label }}">{{ form.peinture_sur_toile_chassis_caracteristiques_nombre_poignees_sur_montants.label }}</label> {{ form.peinture_sur_toile_chassis_caracteristiques_nombre_poignees_sur_montants }}
                </td>
            </tr>

        </table>

        <table>
            <caption>Assemblage</caption>

            <tr>
                <td>{{ form.peinture_sur_toile_chassis_assemblage_correct }} <label for="{{ form.peinture_sur_toile_chassis_assemblage_correct.id_for_label }}">{{ form.peinture_sur_toile_chassis_assemblage_correct.label }}</label></td>
                <td>{{ form.peinture_sur_toile_chassis_assemblage_faible }} <label for="{{ form.peinture_sur_toile_chassis_assemblage_faible.id_for_label }}">{{ form.peinture_sur_toile_chassis_assemblage_faible.label }}</label></td>
                <td>{{ form.peinture_sur_toile_chassis_assemblage_disjoint }} <label for="{{ form.peinture_sur_toile_chassis_assemblage_disjoint.id_for_label }}">{{ form.peinture_sur_toile_chassis_assemblage_disjoint.label }}</label></td>
            </tr>
        </table>

        <table>

            <caption>Clés</caption>

            <tr>
                <td>{{ form.peinture_sur_toile_chassis_cles_chassis_fixe }} <label for="{{ form.peinture_sur_toile_chassis_cles_chassis_fixe.id_for_label }}">{{ form.peinture_sur_toile_chassis_cles_chassis_fixe.label }}</label></td>
                <td>
                    {{ form.peinture_sur_toile_chassis_cles_chassis_a_cles }} <label for="{{ form.peinture_sur_toile_chassis_cles_chassis_a_cles.id_for_label }}">{{ form.peinture_sur_toile_chassis_cles_chassis_a_cles.label }}</label>&nbsp;
                    <label for="{{ form.peinture_sur_toile_chassis_cles_nombre_cles_presentes.id_for_label }}">{{ form.peinture_sur_toile_chassis_cles_nombre_cles_presentes.label }}</label> {{ form.peinture_sur_toile_chassis_cles_nombre_cles_presentes }}
                </td>
            </tr>

            <tr>
                <td>
                    {{ form.peinture_sur_toile_chassis_cles_manquantes }} <label for="{{ form.peinture_sur_toile_chassis_cles_manquantes.id_for_label }}">{{ form.peinture_sur_toile_chassis_cles_manquantes.label }}</label>&nbsp;
                    <label for="{{ form.peinture_sur_toile_chassis_cles_nombre_manquantes.id_for_label }}">{{ form.peinture_sur_toile_chassis_cles_nombre_manquantes.label }}</label> {{ form.peinture_sur_toile_chassis_cles_nombre_manquantes }}
                </td>
                <td>
                    {{ form.peinture_sur_toile_chassis_cles_cassees }} <label for="{{ form.peinture_sur_toile_chassis_cles_cassees.id_for_label }}">{{ form.peinture_sur_toile_chassis_cles_cassees.label }}</label>&nbsp;
                    <label for="{{ form.peinture_sur_toile_chassis_cles_nombre_cassees.id_for_label }}">{{ form.peinture_sur_toile_chassis_cles_nombre_cassees.label }}</label> {{ form.peinture_sur_toile_chassis_cles_nombre_cassees }}
                </td>
            </tr>

            <tr>
                <td>
                    {{ form.peinture_sur_toile_chassis_cles_vermoules }} <label for="{{ form.peinture_sur_toile_chassis_cles_vermoules.id_for_label }}">{{ form.peinture_sur_toile_chassis_cles_vermoules.label }}</label>&nbsp;
                    <label for="{{ form.peinture_sur_toile_chassis_cles_nombre_vermoules.id_for_label }}">{{ form.peinture_sur_toile_chassis_cles_nombre_vermoules.label }}</label> {{ form.peinture_sur_toile_chassis_cles_nombre_vermoules }}
                </td>
                <td>
                    {{ form.peinture_sur_toile_chassis_cles_attachees }} <label for="{{ form.peinture_sur_toile_chassis_cles_attachees.id_for_label }}">{{ form.peinture_sur_toile_chassis_cles_attachees.label }}</label>&nbsp;
                    <label for="{{ form.peinture_sur_toile_chassis_cles_nombre_attachees.id_for_label }}">{{ form.peinture_sur_toile_chassis_cles_nombre_attachees.label }}</label> {{ form.peinture_sur_toile_chassis_cles_nombre_attachees }}
                </td>
            </tr>
        </table>

        <table>

            <caption>Tranche</caption>

            <tr>
                <td>{{ form.peinture_sur_toile_chassis_tranche_invisible }} <label for="{{ form.peinture_sur_toile_chassis_tranche_invisible.id_for_label }}">{{ form.peinture_sur_toile_chassis_tranche_invisible.label }}</label></td>
                <td>{{ form.peinture_sur_toile_chassis_tranche_papier_de_bordage }} <label for="{{ form.peinture_sur_toile_chassis_tranche_papier_de_bordage.id_for_label }}">{{ form.peinture_sur_toile_chassis_tranche_papier_de_bordage.label }}</label></td>
                <td><label for="{{ form.peinture_sur_toile_chassis_tranche_etat.id_for_label }}">{{ form.peinture_sur_toile_chassis_tranche_etat.label }}</label> {{ form.peinture_sur_toile_chassis_tranche_etat }}</td>
            </tr>            
        </table>

        <table>

            <caption>Semences</caption>

            <tr>
                <td>{{ form.peinture_sur_toile_chassis_semence_d_origine }} <label for="{{ form.peinture_sur_toile_chassis_semence_d_origine.id_for_label }}">{{ form.peinture_sur_toile_chassis_semence_d_origine.label }}</label></td>
                <td>{{ form.peinture_sur_toile_chassis_semence_ajoutees }} <label for="{{ form.peinture_sur_toile_chassis_semence_ajoutees.id_for_label }}">{{ form.peinture_sur_toile_chassis_semence_ajoutees.label }}</label></td>
                <td>{{ form.peinture_sur_toile_chassis_semence_agrafes }} <label for="{{ form.peinture_sur_toile_chassis_semence_agrafes.id_for_label }}">{{ form.peinture_sur_toile_chassis_semence_agrafes.label }}</label></td>
            </tr>

            <tr>
                <td>{{ form.peinture_sur_toile_chassis_semence_guirlande_de_tension }} <label for="{{ form.peinture_sur_toile_chassis_semence_guirlande_de_tension.id_for_label }}">{{ form.peinture_sur_toile_chassis_semence_guirlande_de_tension.label }}</label></td>
                <td>{{ form.peinture_sur_toile_chassis_semence_corrosion }} <label for="{{ form.peinture_sur_toile_chassis_semence_corrosion.id_for_label }}">{{ form.peinture_sur_toile_chassis_semence_corrosion.label }}</label></td>
                <td>{{ form.peinture_sur_toile_chassis_semence_manques }} <label for="{{ form.peinture_sur_toile_chassis_semence_manques.id_for_label }}">{{ form.peinture_sur_toile_chassis_semence_manques.label }}</label></td>
            </tr>                   

        </table>
    </div>

    <div>
        <table id="tab-photos-significatives-chassis">

            <caption>Photos significatives</caption>

            <input type="button" id="btn-photos-significatives-chassis" value="Ajouter photo">

            <tr>
                <td>Photo de détail</td>
                <td>Emplacement</td>
            </tr>
            
        </table>

        <input value="0" name="nombre-photos-significatives-chassis" id="nombre-photos-significatives-chassis" hidden>
    </div>
</div>

{% endblock %}
